@page "/"

@inject IJSRuntime JSRuntime

<div class="container mt-4">
    <div class="team-container team-red-container">
        <h2 class="text-center">Time Vermelho</h2>
        <div class="card-container team-red">
            @if (PlayersTeamRed != null)
            {
                @foreach (var player in PlayersTeamRed)
                {
                    <div class="card" @onclick="() => TogglePlayer(player)">
                        <img src="@player.ImageUrl" class="card-img-left" alt="@player.Name">
                        <p class="card-text">@player.Name</p>
                    </div>
                }
            }
            else
            {
                @for (int i = 0; i < 5; i++)
                {
                    <div class="card">
                        <img src="https://via.placeholder.com/90" class="card-img-left" alt="Player 6">
                        <p class="card-text">Jogador 6</p>
                    </div>
                }
            }
        </div>
    </div>

    <div class="button-container">
        <button class="shuffle-button" @onclick="ShufflePlayers">Embaralhar</button>
    </div>

    <div class="team-container team-black-container">
        <h2 class="text-center">Time Preto</h2>
        <div class="card-container team-black">
            @if (PlayersTeamBlack != null)
            {
                @foreach (var player in PlayersTeamBlack)
                {
                    <div class="card" @onclick="() => TogglePlayer(player)">
                        <img src="@player.ImageUrl" class="card-img-right" alt="@player.Name">
                        <p class="card-text">@player.Name</p>
                    </div>
                }
            }
            else
            {
                @for (int i = 0; i < 5; i++)
                {
                    <div class="card">
                        <img src="https://via.placeholder.com/90" class="card-img-right" alt="Player 6">
                        <p class="card-text">Jogador 6</p>
                    </div>
                }
            }
        </div>
    </div>
</div>

<footer>
    <div class="barreira-container">
        <h2>Barreira: @PlayersTeamOutGame.Count jogadores cansados</h2>
        <button class="new-player-button" @onclick="ShowAddPlayerPopup">Novo Jogador</button>
    </div>
    <!-- Listagem de jogadores na barreira -->
    <div class="team-container">
        <div class="card-container flex-container">
            <!-- Adicionando a classe flex-container -->
            @if (PlayersTeamOutGame != null)
            {
                foreach (var player in PlayersTeamOutGame)
                {
                    <div class="card card-footer" @onclick="() => TogglePlayer(player)">
                        <!-- Adicionando a classe card-footer -->
                        <img src="@player.ImageUrl" class="card-img-left" alt="@player.Name">
                        <p style="color: black" class="card-text">@player.Name</p>
                    </div>
                }
            }
            else
            {
                <div>
                    <p style="color: darkred;font-size: 1.5em;">Não há jogadores reservas</p>
                </div>
            }
        </div>
    </div>

</footer>

<!-- Popup para adicionar novo jogador -->
@if (showAddPlayerPopup)
{
    <div class="popup">
        <div class="popup-content">
            <span class="close-popup" @onclick="HideAddPlayerPopup">&times;</span>
            <h2 class="popup-title">Adicionar Novo Jogador</h2>
            <form>
                <div class="form-group">
                    <label for="newPlayerName">Nome:</label>
                    <input type="text" id="newPlayerName" @bind="newPlayerName" class="form-control">
                </div>

                <div class="form-group">
                    <label for="newPlayerImageUrl">URL da Foto de Perfil:</label>
                    <input type="text" id="newPlayerImageUrl" @bind="newPlayerImageUrl" class="form-control">
                </div>

                <div class="form-group">
                    <label for="newPlayerPoints">Pontos (de 0 a 10):</label>
                    <input type="number" id="newPlayerPoints" @bind="newPlayerPoints" min="0" max="10" class="form-control">
                </div>

                <button type="button" @onclick="AddNewPlayer" class="btn btn-primary">Adicionar</button>
            </form>
        </div>
    </div>
}

@code {
    private List<Player> PlayersTeamRed = new();
    private List<Player> PlayersTeamBlack = new();
    private List<Player> PlayersTeamOutGame = new();
    private List<TeamCombination> TeamCombinations = new();

    private bool isFirstMatch = true;

    private bool showAddPlayerPopup = false;
    private string newPlayerName = "";
    private string newPlayerImageUrl = "";
    private int newPlayerPoints = 0;

    protected override void OnInitialized()
    {
        Console.WriteLine("OnInitialized method called");
        // Adicionar jogadores à lista inicial
        PlayersTeamOutGame = new List<Player>
        {
            new Player { Name = "Matheus Delmondes", ImageUrl = "https://th.bing.com/th/id/OIP.R3jaK2LrLmDOQXWdE--qhwHaHa?pid=ImgDet&rs=1", SkillPointsAverage = 10 },
            new Player { Name = "Samuel", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 9 },
            new Player { Name = "Antonino", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 5 },
            new Player { Name = "Bruno Zamorano", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 6 },
            new Player { Name = "Rihan", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 7 },
            new Player { Name = "Marcos", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 6 },
            new Player { Name = "Lucas Bessa", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 5 },
            new Player { Name = "Alexandre V.", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 3 },
            new Player { Name = "Henrique Lino", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 4 },
            new Player { Name = "Thiago Melo", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 2 },
            new Player { Name = "Benjamin", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 3 },
            new Player { Name = "Matheus Brayan", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 2 },
            new Player { Name = "Ismael", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 6 },
            new Player { Name = "G. Borba", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 3 },
            new Player { Name = "Pedro", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 1 },
            new Player { Name = "Matheus F. James", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 7 },
            new Player { Name = "Hitalo", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 8 },
            new Player { Name = "Ataías", ImageUrl = "https://via.placeholder.com/90", SkillPointsAverage = 6 },
        };

        base.OnInitialized();
    }
    private async Task MostrarAlerta ()
    {
        await JSRuntime.InvokeAsync<object> ("alert", "Os times foram balanceados. Clique em 'Ok' para ver o resultado. ;-)");
    }
    private async Task MostrarAlerta (string message)
    {
        await JSRuntime.InvokeAsync<object> ("alert", message);
    }
    private async void ShufflePlayers()
    {
        bool alreadyHasPlayersToPlayAMatch = PlayersTeamRed.Any() && PlayersTeamBlack.Any();
        if (!alreadyHasPlayersToPlayAMatch)
        {
            while (PlayersTeamRed.Count <= 5 && PlayersTeamBlack.Count < 5)
            {
                int playerOutGameQuantity = PlayersTeamOutGame.Count();
                int randomIndex = new Random().Next(0, playerOutGameQuantity);
                TogglePlayer(PlayersTeamOutGame[randomIndex]);
                await Task.Delay(70);
            }
            await Task.Delay(2000);
        }
        while (PlayersTeamRed.Count <= 5 && PlayersTeamBlack.Count < 5)
        {
            int playerOutGameQuantity = PlayersTeamOutGame.Count();
            int randomIndex = new Random().Next(0, playerOutGameQuantity);
            TogglePlayer(PlayersTeamOutGame[randomIndex]);
            await Task.Delay(70);
        }
        var teamRed = new List<Player>(PlayersTeamRed);
        var teamBlack = new List<Player>(PlayersTeamBlack);
        var teamRedSum = GetSum(teamRed);
        var teamBlackSum = GetSum(teamBlack);

        bool isBetter = true;

        while (isBetter)
        {
            isBetter = false;
            int betterI = -1;
            int betterJ = -1;
            int betterDifference = Math.Abs(teamRedSum - teamBlackSum);

            // Testa todas as possíveis trocas entre os conjuntos
            for (int i = 0; i < teamRed.Count; i++)
            {
                for (int j = 0; j < teamBlack.Count; j++)
                {
                    // Calcula a nova soma de cada conjunto se trocar os jogadores nas posições i e j
                    int newTeamRedSum = teamRedSum - teamRed[i].SkillPointsAverage + teamBlack[j].SkillPointsAverage;
                    int newTeamBlackSum = teamBlackSum - teamBlack[j].SkillPointsAverage + teamRed[i].SkillPointsAverage;

                    // Calcula a nova diferença entre as somas (considerando apenas o valor absoluto/modular)
                    int newDifference = Math.Abs(newTeamRedSum - newTeamBlackSum);

                    // Se a nova diferença for menor que a melhor diferença encontrada até agora, atualiza as variáveis
                    if (newDifference < betterDifference)
                    {
                        betterI = i;
                        betterJ = j;
                        betterDifference = newDifference;
                        isBetter = true;
                    }
                }
            }

            // Se houve melhoria, realiza a troca entre os conjuntos e atualiza as somas
            if (isBetter)
            {
                Player _ = teamRed[betterI];
                teamRed[betterI] = teamBlack[betterJ];
                teamBlack[betterJ] = _;

                teamRedSum = GetSum(teamRed);
                teamBlackSum = GetSum(teamBlack);
            }
        }

        // Imprime os times finais
        Console.WriteLine("Time Red:");
        foreach (var jogador in teamRed)
        {
            Console.WriteLine($"{jogador.Name}: {jogador.SkillPointsAverage}");
        }

        Console.WriteLine("\nTime Black:");
        foreach (var jogador in teamBlack)
        {
            Console.WriteLine($"{jogador.Name}: {jogador.SkillPointsAverage}");
        }

        PlayersTeamRed = new List<Player>(teamRed);
        PlayersTeamBlack = new List<Player>(teamBlack);
        UpdateUI();
        await MostrarAlerta();
    }
    static int GetSum(List<Player> jogadores) => jogadores.Sum(p => p.SkillPointsAverage);
    private void TogglePlayer(Player player)
    {
        Console.WriteLine($"TogglePlayer method called for player: {player.Name}");

        if (PlayersTeamRed.Contains(player) || PlayersTeamBlack.Contains(player))
        {
            // Se o jogador está em um time, remove-o e o adiciona de volta à barreira
            PlayersTeamRed.Remove(player);
            PlayersTeamBlack.Remove(player);
            PlayersTeamOutGame.Add(player);
        }
        else if (PlayersTeamRed.Count < 5)
        {
            // Se houver espaço no time vermelho, adiciona o jogador ao time vermelho
            PlayersTeamRed.Add(player);
            PlayersTeamOutGame.Remove(player);
        }
        else if (PlayersTeamBlack.Count < 5)
        {
            // Se houver espaço no time preto, adiciona o jogador ao time preto
            PlayersTeamBlack.Add(player);
            PlayersTeamOutGame.Remove(player);
        }
        // Se não houver espaço em nenhum time, o jogador permanece na barreira

        Console.WriteLine($"Player {player.Name} toggled. TeamRed count: {PlayersTeamRed.Count}, TeamBlack count: {PlayersTeamBlack.Count}, TeamOutGame count: {PlayersTeamOutGame.Count}");

        UpdateUI();
    }
    private void ShowAddPlayerPopup()
    {
        showAddPlayerPopup = true;
        UpdateUI();
    }
    private void HideAddPlayerPopup()
    {
        showAddPlayerPopup = false;
        UpdateUI();
    }
    private void AddNewPlayer()
    {
        // Validar os dados do novo jogador aqui, se necessário
        if (string.IsNullOrWhiteSpace(newPlayerName))
        {
            MostrarAlerta("Ao cadastrador um Novo Jogador é importante que informe o nome dele. Colabore. :)");
            return;
        }

        if (PlayersTeamOutGame == null)
        {
            PlayersTeamOutGame = new List<Player>();
        }

        if (string.IsNullOrWhiteSpace(newPlayerImageUrl))
        {
            newPlayerImageUrl = "https://via.placeholder.com/90";
        }

        // Criar o novo jogador
        var newPlayer = new Player
            {
                Name = newPlayerName,
                ImageUrl = newPlayerImageUrl,
                SkillPointsAverage = newPlayerPoints
            };

        // Adicionar o novo jogador à lista da barreira
        PlayersTeamOutGame.Add(newPlayer);

        // Limpar os campos do formulário
        newPlayerName = "";
        newPlayerImageUrl = "";
        newPlayerPoints = 0;

        // Fechar o popup
        showAddPlayerPopup = false;
        UpdateUI();
    }
    private void UpdateUI()
    {
        InvokeAsync(() => StateHasChanged());
    }

    class TeamCombination
    {
        public List<Player> TeamRed { get; set; }
        public List<Player> TeamBlack { get; set; }
        public double AveragePointsDifference { get; set; }
        public double AveragePointsRed { get; set; }
        public double AveragePointsBlack { get; set; }
    }
    class Player
    {
        public string Name { get; set; } = "Anônimo";
        public int SkillPointsAverage { get; set; } = 0;
        public string ImageUrl { get; set; } = "https://via.placeholder.com/90";
    }
}